.main {
  flex: 1;
  height: 100%;
  position: relative;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column-reverse;
  .message-list {
    flex: 1;
    overflow: auto;
  }
  .input {
    bottom: 0;
    width: 100%;
    height: 200px;
    border-top: 2px solid sandybrown;
    .message {
      width: 100%;
      margin-top: 30px;
      height: 170px;
      .MuiOutlinedInput-multiline {
        height: 100%;
      }
    }
    .send {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
}
