.aside {
  width: 260px;
  height: 100%;
  overflow: auto;
  transition: all 0.5s;
  background-color: #fff;
  z-index: 999;
  border-right: 1px solid #cccc;
}
.aside .tool {
  display: flex;
  padding: 5px;
  justify-content: space-around;
}
.aside .color {
  color: #0094ff;
}
